.projectsOuter {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
}

.projectsBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
  margin-top: 20px;
  padding-left: 20px;
  text-align: left;
  padding-bottom: 50px;
}

.projectsHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.projectsTitle {
  align-self: center;
}

.projectsBody h2 {
  padding-left: 20px;
  padding-top: 50px;
}

.projectsBody h3 {
  padding-left: 50px;
  font-weight: normal;
}

.projectsBody p {
  padding-left: 70px;
}

.projectsBody ul {
  padding-left: 100px;
}



.projectsBody a {
  background-color: var(--fourth);
  color: var(--black);
  padding: 5px;
  border-radius: 5px;
  margin-left: 70px;
}

.todoImages {
  display: flex;
  flex-direction: row;
  /* width: 800px; */
  justify-content: flex-start;
  gap: 20px;
  padding: 5px;
}

.todoImages img {
  width: 200px;
}

.diceImages img {
  width: 700px;
  padding-left: 70px;
}

.pigsImages img {
  width: 700px;
  padding-left: 70px;
}

.regisImages {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
}

.regisImages img {
  width: 700px;
  padding-left: 70px;
}

.nbaImages{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px; 
}

.nbaImages img {
  width: 700px;
  padding-left: 70px;
}

.expandButton {
  font-family: Ubuntu, sans-serif;
  background: none;
  color: var(--secondary);
  padding: 5px;
  margin-left: 60px;
  border: none;
  cursor: pointer;
}

@media (max-width: 750px) {
  .projectsBody {
    width: 95%;
    overflow-x: auto;
    flex-wrap: wrap;
    padding: 10px;
  }


  .projectsBody h2 {
    padding-left: 0px;
    padding-top: 20px;
    font-size: 1.2rem;
  }
  
  .projectsBody h3 {
    padding-left: 5px;
    font-size: 0.9rem;
  }
  
  .projectsBody p {
    padding-left: 5px;
    font-size: 0.7rem;
  }
  
  .projectsBody ul {
    padding-left: 15px;
    font-size: 0.7rem;
  }

  .projectsBody a {
    margin-left: 10px;
  }

  .expandButton {
    margin-left: 10px;
  }

  .todoImages {
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .todoImages img {
    width: 150px;
  }

  .diceImages {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .diceImages img {
    width: 95vw;
    padding-left: 0px;
  }

  .pigsImages {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .pigsImages img {
    width: 95vw;
    padding-left: 0px;
  }
  
  .regisImages {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  
  .regisImages img {
    width: 95vw;
    padding-left: 0px;
  }
  
  .nbaImages{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
  }
  
  .nbaImages img {
    width: 95vw;
    padding-left: 0px;
  }
  
}

