.projects-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-title {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (max-width: 750px) {
  .projects-title {
    align-self: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
}